<div class="message-header" >
  <div class="message-wrapper">
    <div class="left" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      <h2>{{chatWith.userName}}</h2>
      <div class="icon">
        <i class="fa-solid fa-star"></i>
      </div>
    </div>
    <div class="right">
      <!-- Style this -->
      <div>
        <input class="search" placeholder="Search..." />
      </div>

      <div class="wrapper">
        <div class="dropdown">
          <button
            class="dropdown-toggle"
            href="#"
            role="button"
            id="chatMenuLink"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
          <i class="fa-solid fa-ellipsis-vertical"></i>
          </button>
          <ul class="dropdown-menu" aria-labelledby="chatMenuLink">
            <li><a class="dropdown-item" href="#" (click)="validateChat()">Validate Chat</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="chat-area" #chatBox>
  <app-message
    *ngFor="let block of contextChain.chain.slice(1)"
    [message]="block.data"
  ></app-message>
  <app-chat-breakline></app-chat-breakline>
</div>
<app-chat-input (newMessage)="newMessage($event)"></app-chat-input>
