<div class="message-header" >
  <div class="message-wrapper">
   <div class="left">
      <h2 style="color: aliceblue;">{{chatWith.userName}}</h2>
    </div>
    <div class="right">
      <!-- Style this -->
      <!-- <div>
        <input class="search" placeholder="Search..." />
      </div> -->

      <div class="wrapper">
        <div class="dropdown">
          <button
            class="dropdown-toggle"
            href="#"
            role="button"
            id="chatMenuLink"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
          <i style="color: #924ED1;" class="fa-solid fa-ellipsis-vertical"></i>
          </button>
          <ul class="dropdown-menu" aria-labelledby="chatMenuLink">
            <li><a class="dropdown-item" href="#" (click)="validateChat()">Validate Chat</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!loading" class="chat-area" #chatBox>
  <app-message *ngFor="let block of contextChain.chain.slice(1)"
    [message]="block.data"
  ></app-message>
  <!-- <app-chat-breakline></app-chat-breakline> -->
</div>
<app-chat-input *ngIf="!loading" (newMessage)="newMessage($event)"></app-chat-input>

<div  *ngIf="loading" class="scene">
  <div class="cube-wrapper">
    <div class="cube">
      <div class="cube-faces">
        <div class="cube-face shadow"></div>
        <div class="cube-face bottom"></div>
        <div class="cube-face top"></div>
        <div class="cube-face left"></div>
        <div class="cube-face right"></div>
        <div class="cube-face back"></div>
        <div class="cube-face front"></div>
      </div>
    </div>
  </div>
</div>
