.profile-photo {
  background-image: url("https://c4.wallpaperflare.com/wallpaper/365/244/884/uchiha-itachi-naruto-shippuuden-anbu-silhouette-wallpaper-preview.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 200px;
}
.info-content {
  padding: 14px;
  overflow-x: hidden;
}
.info-header > p {
  color: #767676;
}
.info-header {
  margin-bottom: 16px;
}
.info-wrapper > h2 {
  color: black;
  font-size: 16px;
  margin-right: 5px;
}
.info-wrapper {
  display: flex;
  align-items: center;
}