<div class="friend-details">
  <div class="profile-photo">
  </div>
  <div class="info-content">
    <div class="info-header">
      <div class="info-wrapper">
        <h2 style="color: white;">{{ friend.userName }}</h2>
        <svg
          width="6"
          height="7"
          viewBox="0 0 6 7"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path 
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M3.00006 0.5C4.6569 0.5 6.00005 1.84316 6.00005 3.49998C6.00005 5.15684 4.6569 6.5 3.00006 6.5C1.34315 6.5 0 5.15684 0 3.49998C0 1.84316 1.34315 0.5 3.00006 0.5Z"
            fill="#70CC16"
          />
        </svg>
      </div>
      <p>UI Designer</p>
    </div>
    <div class="button-wrapper">
      <div style="background-color: #924ED1;"class="button-message">Message</div>
      <button style="background-color: #924ED1;" class="option" >
        <img  style="background-color: #924ED1;" class="arrow" src="https://i.ibb.co/099r0y4/play-arrow.png" />
      </button>
    </div>
    <div class="personal-info">
      <p>Username</p>
      <p style="color: white;">itachi</p>
    </div>
    <div class="personal-info">
      <p>Email</p>
      <p style="color: white;">a-luna@gmail.com</p>
    </div>
    <div class="personal-info">
      <p>Skype</p>
      <p style="color: white;">amiluna</p>
    </div>
    <div class="personal-info">
      <p>Timezone</p>
      <p style="color: white;">2:21 PM Local time</p>
    </div>
    <div class="personal-info">
      <p>Public Key</p>
      <p style="color: white;">
        eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c
      </p>
    </div>
  </div>
</div>
