.profile-photo {
  background-image: url("https://images.unsplash.com/photo-1513772051905-d2acb1dc5bb1?ixlib=rb-1.2.1&auto=format&fit=crop&w=1534&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 200px;
}
.info-content {
  padding: 14px;
  overflow-x: hidden;
}
.info-header > p {
  color: #767676;
}
.info-header {
  margin-bottom: 16px;
}
.info-wrapper > h2 {
  color: black;
  font-size: 16px;
  margin-right: 5px;
}
.info-wrapper {
  display: flex;
  align-items: center;
}
