<div class="back">
  <div class="div-center">
    <div class="content">
      <h4 class="text-center font-weight-bold">Login</h4>
      <form class="form-container" #loginForm="ngForm">
        <!--Binding the label and input together-->
        <div class="form-group">
          <label for="email">Email</label>
          <div class="input-group has-validation">
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              [(ngModel)]="email"
              aria-describeby="usernameHelp"
              placeholder="Email"
              #emailSignIn="ngModel"
              required
              email
            />
            <div
              class="invalid-feedback"
              *ngIf="
                emailSignIn.invalid &&
                (emailSignIn.dirty || emailSignIn.touched)
              "
            >
              Please choose a correct email.
            </div>
          </div>
        </div>

        <!--Binding the label and input together-->
        <div class="form-group">
          <label id="login-pass" for="InputPassword1">Password</label>
          <input
            type="password"
            id="login-pass1"
            class="form-control"
            id="InputPassword1"
            placeholder="Password"
            #passwordSignIn
            required
          />
        </div>

        <button
          type="Signin"
          id="login-bttn"
          class="form-control bttn bttn-primary submit px-3"
          (click)="onSignIn(emailSignIn.value, passwordSignIn.value)"
        >
          Sign in
        </button>
        <!-- <button
          type="Signin"
          id="Google-login-bttn"
          class="form-control bttn bttn-primary submit px-3"
          (click)="onGoogleLoginClick()"
          [disabled]="true"
          disabled
        >
          Login with google
        </button> -->

        <div class="form-footer">
          <p id="login-p">
            Don't have an account?
            <a href="#" (click)="onSigupSelected()">Sign Up</a>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
