<div class="jotform-page">
  <div class="left-area">
    <div class="icon-area">
      <img [src]="currentUser.avatar" alt="" width="42" height="42">
      <button>
        <svg
          width="68"
          height="70"
          viewBox="0 0 68 70"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M31.5 16.5c11.046 0 20 8.954 20 20s-8.954 20-20 20-20-8.954-20-20 8.954-20 20-20z"
            fill="#fff"
            opacity=".1"
            filter="url(#filter0_d)"
          />
          <path
            opacity=".4"
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M37.5 37.5h-5v5a1 1 0 0 1-2 0v-5h-5a1 1 0 1 1 0-2h5v-5a1 1 0 0 1 2 0v5h5a1 1 0 1 1 0 2z"
            fill="#fff"
          />
          <defs>
            <filter
              id="filter0_d"
              x="-6.5"
              y=".5"
              width="72"
              height="72"
              filterUnits="userSpaceOnUse"
              color-interpolation-filters="sRGB"
            >
              <feFlood flood-opacity="0" result="BackgroundImageFix" />
              <feColorMatrix
                in="SourceAlpha"
                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
              />
              <feOffset dx="-2" />
              <feGaussianBlur stdDeviation="8" />
              <feColorMatrix
                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.16 0"
              />
              <feBlend in2="BackgroundImageFix" result="effect1_dropShadow" />
              <feBlend
                in="SourceGraphic"
                in2="effect1_dropShadow"
                result="shape"
              />
            </filter>
          </defs>
        </svg>
      </button>
    </div>
    <div class="contacts-area">
      <div class="header">
        <h2>BlockChat</h2>
        <div>
          <div class="dropdown">
            <button
              class="dropdown-toggle"
              href="#"
              role="button"
              id="dropdownMenuLink"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="fa-solid fa-gear" style="color: #ffffff;"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Chats component -->
      <app-chats></app-chats>
    </div>
  </div>
  <div class="message-area">
    <app-chatbox></app-chatbox>
  </div>
  <div class="info-area">
    <app-friend-details></app-friend-details>
  </div>
</div>
